body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: rgb(238, 238, 238);
    border: 2px solid black;
    height: 90vh;
    width: 80%;

}
.card{
    background-color: white;
    width: 25%;
    height: 35%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px ;
}
img {
    width: 100px;
    height: 100px;
}
.line1{
    display: flex;
    gap: 10px;
}
.line3{
    display: flex;
    justify-content: space-between;
}
i{
    font-size: 10px;
    color: rgb(250, 180, 2);
}

