body{
    background-color: rgb(238, 238, 238);
}
.section1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.card{
    background-color: white;
    width: 25%;
    height: 30vh;
    padding: 20px;
}
img {
    width: 100px;
    height: 100px;
}
.line1{
    display: flex;
    gap: 20px;
}
.line3{
    display: flex;
    justify-content: space-between;
}
i{
    font-size: 10px;
    color: rgb(250, 180, 2);
}

.section2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
